body {
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    background-color: #000025;
    text-align: center;
    color: darkgreen;
    display: block;
}

header {
    grid-column: 1 / span 3;
    text-align: left;
    background-color: #3db031;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: .6em;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: darkgreen;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #004800;
}

.name {
    font-weight: 750;
}

.navitem {
    float: right;
}

.grid-container {
    display: grid;
}

.body-1 {
    background-color: lightgray;
    border-radius: 20px;
    grid-column: 1 / span 3;
    margin: 100px;
    padding: 20px;
    display: grid;
}

label {
    padding-bottom: 50px;
    grid-column: 1;
}

input {
    grid-column: 2 / span 2;
    font-size: 1em;
}

.smalli {
    width: 300px;
    height: 1em;
}

.bigi {
    font-size: .8em;
}

h1 {
    color: #3db031;
}

.submit {
    grid-column: 1 / span 3;
    padding: 100px 100px 50px;
    margin: auto;
}