body {
    margin: auto;
    font-family: Arial, sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    background-color: #000025;
    text-align: center;
    color: darkgreen;
    display: block;
}

header {
    grid-column: 1 / span 3;
    text-align: left;
    background-color: #3db031;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    margin: .6em;
    padding-left: 20px;
    padding-right: 20px;
}

a {
    color: darkgreen;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #004800;
}

.name {
    font-weight: 750;
}

.navitem {
    float: right;
}

.grid-container {
    display: grid;
}

.nathan-1 {
    width: 50vw;
    height: fit-content;
    grid-row: 2 / span 2;
    border-bottom-right-radius: 30px;
}

.nathan-1:hover {

}

h1 {
    color: #3db031;
    padding: 30px;
    margin: auto;
    grid-row: 2 / span 1;
    grid-column: 2 / span 2;
    background-color: lightgray;
    border-radius: 30px;
}

p {
    color: #004800;
}

.body {
    background-color: lightgray;
    border-radius: 50px;
    grid-column: 1 / span 3;
    margin: 100px;
    padding: 20px;
}

.home-p {
    color: lightgray;
    grid-row: 3 / span 1;
    grid-column: 2 / span 2;
    padding: 50px;
}

.home-p2 {
    color: #004800;
    grid-column: 1 / span 3;
}

.body li {
    padding: 30px;
    background-color: #3db031;
    border-radius: 20px;
}